@media only screen and (max-width: 1000px) {
    .front {
        width: 15em;
        height: 19em;
    }
}

@media only screen and (max-width: 600px) {
    .menu {
        display: none;
    }

    .menumb {
        display: flex;
      
    }

    .boxes {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        flex-direction: column;

        padding: 20px 50px 0 50px;
    }

    .infos {
        margin-left: 10px;
    }

    .sobre-mim {
        height: 63vh;
    }

    .projetos {
        height: 100%;
    }

    .view {
        margin-bottom: 20px;
    }

    .botao-one {
        width: 7em;
    }

    .cabeçalho {
        height: 40em;
    }

    .conhecimento {
        height: 145vh;
    }

    .skils {
        flex-direction: column;
    }

    .front {
        width: 15em;
        height: 15em;

        margin-bottom: 20px;
    }
}

