@media only screen and (max-width: 700px) {
    main {
        padding: 2em;
    }

    .show {
        display: none;
    }
    
    .toggle {
        display: flex;
    }
}

@media only screen and (max-width: 450px) {
    form input {
        width: 20em;
    }
}